.header{
border: solid; color: darkblue; background-color: bisque;
padding: 20px;
}


#title{
position: absolute;
top: 3%;
left: 42.5%;
color: green;
font-size: 50px;
}

.text{
text-align: center;
font-family: sans-serif;
color: black;
font-size: 17px;
}

.title2{
    color: black;
    text-align: center;
    font-size: 22px;
}

#java{
    position: absolute;
    top: 4%;
    left: 92%;
}


nav {
    background: #02afff;
    padding: 5px;
    text-align: center;
}

nav a {
    display: inline-block;
    color: rgb(154, 6, 6);
    margin: 0 30px;
    font-size: 18px;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

.items{
text-align: center;
}

#table{
padding: 5px;
display: inline-block;
border-style: dashed;
border-color: red;
}

#sites{
margin: auto;
width: 300px;
height: 150px;
padding: 10px;
background-color: yellow;

}

#html{

display: inline-block;
}

#css{
display: inline-block;
}

.bt{
display: inline-block;
color: black;
}

.rodape{
display: flex;
align-items: center;
justify-content: center;
font-family: sans-serif;
font-size: 18px;
border: solid; color: darkblue; background-color: bisque;
padding: 20px;
gap: 100px;
    }
    